.login {
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.login .nameInput,
.login .addressInput {
  margin-top: 5%;
  font-size: 1.25em;
}

.login .connectButton {
  margin-top: 5%;
  font-size: 1.25em;
}
